* {
    box-sizing: border-box;
}
button {
    background: #c5c7c7;
    color: #1c1c1c;
    border-radius: 4px;
    border: none;
    padding: 6px 8px;
    outline: none;
    opacity: 0.8;
    cursor: pointer;
}
button:hover {
    opacity: 1;
}
.reveal.left-top section {
    text-align: left;
}
.reveal.left-top .slides > section:first-child {
    text-align: center;
}

/* Control */
.control {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    opacity: 0;
    transition: opacity 0.3s;
}
.control .iconfont {
    display: inline-block;
    margin: 16px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}
.control:hover {
    opacity: 1;
}

/* Menu */
.menu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 180px;
    height: 100vh;
    background-color: #e2e2e4;
    color: #1c1c1c;
    font-size: 14px;
    transform: translateX(-100%);
    transition: transform 0.3s;
}
.menu.open {
    transform: translateX(0);
}
.menu .icon-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #929292;
    cursor: pointer;
    transition: color 0.3s;
}
.menu .icon-close:hover {
    color: #1c1c1c;
}
.menu .detail {
    margin-top: 50px;
}
.menu .detail .tab {
    padding: 8px 16px;
    display: flex;
    align-items: center;
}
.menu .detail .tab.active {
    background-color: #c5c7c7;
    border-radius: 5px;
    width: 165px;
    margin: 0 auto;
    padding-left: 8px;
    cursor: pointer;
}
.menu .detail .iconfont {
    margin-right: 4px;
}
.menu .content {
    position: absolute;
    left: 180px;
    top: 0;
    width: calc(100vw - 180px);
    height: 100vh;
    overflow: scroll;
    background-color: #fdfdfd;
    transform: translateX(calc(100% + 180px));
    transition: transform 0.3s;
}
.menu.open .content.active {
    transform: translateX(0);
}
.menu .detail .content .header {
    font-size: 40px;
    color: #464545;
    border-bottom: 2px solid #d0d0d0;
    padding: 20px;
    background-color: #fafafb;
}
.menu .detail .content .body {
    padding: 20px;
    color: #464545;
    padding-bottom: 100px;
}

.menu .detail .content .body.explain {
    font-size: 16px;
    line-height: 30px;
}

.menu .detail .content .body.explain table {
    margin: 16px auto;
    width: 100%;
    text-align: center;
}

/* 编辑器样式 */
.menu .detail .content textarea {
    width: 100%;
    height: 400px;
    border: 1.5px solid #d0d0d0;
    padding: 10px;
    background: #fff;
    outline: none;
    color: #464545;
}

/* 隐藏 input 的上传文件按钮 */
.menu .editor [type="file"] {
    display: none;
}
.menu .editor .uploader {
    margin-top: 12px;
}
.menu .editor label {
    cursor: pointer;
}

.menu .content button {
    margin-top: 16px;
}

/* 主题区样式 */
.menu .themes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.menu .theme h5 {
    margin-top: 30px;
}
.menu .theme select {
    margin-top: 16px;
}
.menu .themes figure {
    margin-top: 30px;
    text-align: center;
    opacity: 0.8;
    border: 4px solid transparent;
    transition: 0.3s;
    cursor: pointer;
}
.menu .themes figure.select {
    opacity: 1;
    border: 4px solid #c5c7c7;
}
.menu .themes figure img {
    width: 200px;
    height: 150px;
}
.menu .themes figcaption {
    padding: 10px;
    color: #464545;
}
.menu .themes .transition,
.menu .themes .align {
    margin-top: 20px;
}
